.success {
    background: var(--myrtle-green);
}

.info {
    background: #393E41;
}

.error {
    background:#E94F37;
}


#toaster {
    color: white;
    position:fixed;
    bottom:0;
    opacity: 0.9;
    text-transform: uppercase;
    margin:10px auto;
    padding: 5px;
    font-size:.8rem;
    border-radius:5px;
    width:95%
}