<cart />
@if (accessory) {

<h3>{{ accessory.accessoryName }}</h3>
<ul>
  <li>{{ headers.accessoryName }}: {{ accessory.accessoryName }}</li>
  <li>{{ headers.accessoryType }}: {{ accessory.accessoryType }}</li>
  <li>{{ headers.price }}: {{ accessory.price | currency}}</li>
  <li>{{ headers.quantity }}: {{ quantity || "Out of Stock" }}</li>
</ul>

@if(accessoryItemsInCart.size > 0) {
<p>Total in cart: {{accessoryItemsInCart.size}}</p>


<button (click)="purchaseAccessoryItem()" [disabled]="quantity <= 0">
  +
</button>
<button (click)="removeAccessoryItem()" [disabled]="accessoryItemsInCart.size <= 0">
  -
</button>
} @else {

<button (click)="purchaseAccessoryItem()" [disabled]="accessoryItemsNotInCart.size <= 0">
  Purchase
</button>
}
}