<cart />
@if (accessory) {

<h3>{{ accessory.accessoryName }}</h3>
<ul>
  <li>{{ headers.accessoryName }}: {{ accessory.accessoryName }}</li>
  <li>{{ headers.accessoryType }}: {{ accessory.accessoryType }}</li>
  <li>{{ headers.price }}: {{ accessory.price | currency}}</li>
  <li>{{ headers.quantity }}: {{ getQuantity() || "Out of Stock" }}</li>
</ul>

@if(accessoryItemsInCart.has(accessory.accessoryId)){
<p>Total in cart: {{accessoryItemsInCart.get(accessory.accessoryId).length}}</p>


<button (click)="purchaseAccessoryItem()" [disabled]="getQuantity() <= 0">
  +
</button>
<button (click)="removeAccessoryItem()" [disabled]="!(accessoryItemsInCart.get(accessory.accessoryId).length > 0)">
  -
</button>
} @else {

<button (click)="purchaseAccessoryItem()" [disabled]="accessoryItems().size == 0">
  Purchase
</button>
}
}