<header>
  <h1> <a routerLink="/">The Brook & Field</a></h1>
</header>

<nav>
  <back />

  @if(authService.user() != null)
  {
  <button (click)="logout()">Logout</button>
  <button><a routerLink="/home">Home</a></button>

  @if(authService.isAdmin() && (!window.location.href.includes("admindashboard")))
  {
  <button><a routerLink="/admindashboard">Admin Dashboard</a></button>
  }

  <p>Welcome, {{authService.user().email.toUpperCase()}}!</p>
  }

  @else {
  <button><a routerLink="/login">Login </a></button>
  <button><a routerLink="/register">Register </a></button>
  }

</nav>
<toaster />

<main>
  <router-outlet></router-outlet>
</main>