<div>
    <h2>{{actionType =="LOGIN"? "Login" : "Register" }}</h2>
    <form (submit)="submitForm()">

        <div class="grid">
            <label for="email"> Email</label>
            <input type="email" required [formControl]="email">

            @if(emailError){
            <p class="error">Invalid Email</p>
            }
        </div>
        <div class="grid">
            <label for="pwd"> Password</label>
            <input type="password" required [formControl]="pwd">
            @if(pwdError){
            <p class="error">Invalid password</p>
            }
        </div>
        @if(actionType == "REGISTER"){
        <div class="grid">
            <label for="pwdConf"> Confirm Password</label>
            <input type="password" required [formControl]="pwdConf">
            @if(pwdConfError){
            <p class="error">Passwords don't match!</p>
            }
        </div>

        }
        <div>
            <button type="submit">{{actionType =="LOGIN"? "Login" : "Register" }}</button>
        </div>
    </form>
</div>