<div>
  <h2>{{ actionType == "LOGIN" ? "Login" : "Register" }}</h2>
  <form (submit)="submitForm()">

    <div class="label-group">
      <label for="email"> Email</label>
      <input type="email" required [formControl]="email">

      @if (email.touched && email.hasError("required")) {
        <div class="error">Email is required.</div>
      }
      @if (email.touched && email.hasError("email")) {
        <div class="error">Please enter a valid email address</div>
      }
    </div>
    <div class="label-group">
      <label for="pwd"> Password</label>
      <input type="password" required [formControl]="pwd">

      @if (pwd.touched && pwd.hasError("required")) {
        <div class="error">Password is required.</div>
      }
      @if (pwd.touched && pwd.hasError("minlength")) {
        <div class="error">Min 8 chars</div>
      }
      @if (pwd.touched && pwd.hasError("maxlength")) {
        <div class="error">Max 100 chars.</div>
      }
    </div>
    @if (actionType == "REGISTER") {
      <div class="label-group">
        <label for="pwdConf"> Confirm Password</label>
        <input type="password" required [formControl]="pwdConf">
        @if (pwdConf.touched && pwdConf.hasError("required")) {
          <div class="error">Please confirm your password</div>
        }
        @if (pwdConf.touched && pwdConf.hasError("minlength")) {
          <div class="error">Min 8 chars</div>
        }
        @if (pwdConf.touched && pwdConf.hasError("maxlength")) {
          <div class="error">Max 100 chars.</div>
        }
      </div>

    }
    <div>
      <button type="submit">{{ actionType == "LOGIN" ? "Login" : "Register" }}</button>
    </div>
  </form>
</div>
