<cart/>

@if (publication) {

  <h3> {{ publication.title }} </h3>
  <ul>
    <li>{{ headers.genre }}: {{ publication.genre }}</li>
    <li>{{ headers.title }}: {{ publication.title }}</li>
    <li>{{ headers.datePublished }}: {{ publication.datePublished | date:"mediumDate" }}</li>
    <li>{{ headers.isbn }}: {{ publication.isbn }}</li>
    <li>{{ headers.quantity }}: {{ getQuantity() || "Out of Stock" }}</li>
  </ul>
  <h3> Author </h3>
  <ul>
    <li>{{ headers.firstName }}: {{ publication.author.firstName }}</li>
    <li>{{ headers.lastName }}: {{ publication.author.lastName }}</li>
  </ul>
  <p>Total in cart: {{ publicationItemsInCart.get(publication.publicationId) || 0 }}</p>


  @if (publicationItems().size > 0) {
    @for (itemType of Object.values(PublicationItemType); track itemType) {
      <h3>{{ itemType }}</h3>
      @if (filteredPublicationItems.get(itemType).length > 0) {

        <div class="overflow">
          <table>
            <thead>
            <th></th>
              @for (itemHeader of ITEM_TYPE_TABLE_HEADERS_SHOP.get(ItemType.PUBLICATION_ITEM); track itemHeader) {
                <th>{{ $any(headers)[itemHeader] }}</th>
              }
              @for (itemHeader of PUBLICATION_ITEM_TYPE_TABLE_HEADERS_SHOP.get(itemType).values(); track itemHeader) {
                <th>{{ $any(headers)[itemHeader] }}</th>
              }
            <th>Action</th>
            </thead>

            <tbody>
              @for (item of filteredPublicationItems.get(itemType); track item.itemId) {
                <tr>
                  <td>
                    <svgicon [icon]="item.svgIcon" [className]="'table-icon'"/>
                  </td>

                  @for (itemHeader of ITEM_TYPE_TABLE_HEADERS_SHOP.get(ItemType.PUBLICATION_ITEM); track itemHeader) {
                    <td>{{ $any(item)[itemHeader] }}</td>
                  }
                  @for (
                    itemHeader of PUBLICATION_ITEM_TYPE_TABLE_HEADERS_SHOP.get(itemType).values(); track itemHeader) {
                    <td>{{ $any(item)[itemHeader] }}</td>
                  }
                  <td>
                    @if (shopService.shoppingCart().has(item.itemId)) {
                      <button (click)="removeItemFromCart(item)">
                        Remove from Cart
                      </button>
                    } @else {
                      <button (click)="purchaseItem(item)">
                        Purchase
                      </button>
                      <button (click)="rentItem(item)">
                        Rent
                      </button>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

      } @else {
        <p>No Items.</p>
      }
    }

  } @else {
    <p>No Items.</p>
  }
}
