<a routerLink="/accessories">Back</a>
@if (accessory) {

  <h3>{{ accessory.accessoryName }}</h3>
  <ol>
    <li>{{ headers.accessoryName }}: {{ accessory.accessoryName }}</li>
    <li>{{ headers.accessoryType }}: {{ accessory.accessoryType }}</li>
    <li>{{ headers.price }}: {{ accessory.price }}</li>
    <li>{{ headers.quantity }}: {{ accessoryItems ? accessoryItems.length : 0 }}</li>
  </ol>
  <a [routerLink]="['/accessoryform',accessory.accessoryId]">Update Accessory</a>
  <button
    [disabled]="!(accessoryItems && accessoryItems.length == 0)" (click)="deleteAccessory(accessory.accessoryId)">
    Delete Accessory
  </button>
}

@if (accessoryItems && accessoryItems.length) {
  <table>
    <thead>
    <th>{{ headers.itemId }}</th>
    <th>{{ headers.accessoryItemStatus }}</th>
    <th></th>
    </thead>

    <tbody>
      @for (acc of accessoryItems; track acc.itemId) {
        <tr>
          <td>{{ acc.itemId }}</td>
          <td>{{ acc.accessoryItemStatus }}</td>
          <td>
            <a [routerLink]="['/accessoryitemform',acc.itemId]">Edit</a>
            <button (click)="deleteAccessoryItem(acc.itemId)">delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <p>No Items</p>
}
