<div>
  <h3>Review Order</h3>

  <table>
    <thead>
      <th>{{ headers.transactionType }}</th>
      <th>{{ headers.name }}</th>
      <th>{{ headers.price }}</th>
    </thead>

    <tbody>
      @for (trans of orderItems(); track trans) {
      <tr>

        <td>{{ trans.transactionType }}</td>

        @if (trans.item.itemType == ItemType.PUBLICATION_ITEM) {
        <td>{{ (trans.item | cast).publication.title }}</td>
        }
        @else if (trans.item.itemType == ItemType.ACCESSORY_ITEM) {
        <td>{{ (trans.item | cast).accessory.accessoryName }}</td>
        }

        <td>{{ trans.transactionPrice.toLocaleString('en-US',{style:'currency', currency: 'USD'}) }}</td>
        <td><button (click)="removeFromCart(trans)">Remove</button></td>
      </tr>

      }
      <tr>
        <td colspan="2">Order Total</td>
        <td>{{orderTotal().toLocaleString('en-US',{style:'currency', currency: 'USD'})}}</td>
      </tr>

    </tbody>
  </table>
</div>




<h3>Enter Your Info</h3>

<form [formGroup]="orderForm" (ngSubmit)="submitOrder()">

  <div class="label-group">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName">
  </div>

  <div class="label-group">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName">
  </div>

  <div class="label-group">
    <label for="address">Street address</label>
    <input type="text" id="address" name="address" formControlName="address">
  </div>

  <div class="label-group">
    <label for="city">City</label>
    <input type="text" id="city" name="city" formControlName="city">
  </div>

  <div class="label-group">
    <label for="state">State</label>
    <input type="text" id="state" name="state" formControlName="state">
  </div>

  <div class="label-group">
    <label for="zipCode">ZipCode</label>
    <input type="number" id="zipCode" name="zipCode" formControlName="zipCode">
  </div>

  <div class="label-group">
    <label for="country">Country</label>
    <input type="text" id="country" name="country" formControlName="country">
  </div>

  <div class="label-group">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" formControlName="email">
  </div>

  <div class="label-group">
    <label for="phoneNumber">Phone</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber">
  </div>

  <button type="submit"> Submit Order </button>
</form>

