<div>
  <h3>Review Order</h3>

  <table>
    <thead>
      <th>{{ headers.transactionType }}</th>
      <th>{{ headers.name }}</th>
      <th>{{ headers.price }}</th>
    </thead>

    <tbody>
      @for (trans of orderItems(); track trans) {
      <tr>

        <td>{{ trans.transactionType }}</td>

        // NOT SCALABLE! fix, then continue to next fend enum
        @if (trans.item.itemType == ItemType.PUBLICATION_ITEM) {
        <td>{{ (trans.item | cast).publication.title }}</td>
        }
        @else if (trans.item.itemType == ItemType.ACCESSORY_ITEM) {
        <td>{{ (trans.item | cast).accessory.accessoryName }}</td>
        }

        <td>{{ trans.transactionPrice | currency }}</td>
        <td><button (click)="removeFromCart(trans)">Remove</button></td>
      </tr>

      }
      <tr>
        <td colspan="2">Order Total</td>
        <td>{{orderTotal() | currency}}</td>
      </tr>

    </tbody>
  </table>
</div>




<h3>Enter Your Info</h3>

<form [formGroup]="orderForm" (ngSubmit)="submitOrder()">

  <div class="label-group">
    <label for="firstName">First Name<span class="required">*</span></label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName">

    @if(orderForm.get("firstName").touched && orderForm.get("firstName").hasError("required")){
    <div class="error">First Name is required.</div>
    }
    @if(orderForm.get("firstName").touched && orderForm.get("firstName").hasError("minlength")){
    <div class="error">Min 3 chars</div>
    }
    @if(orderForm.get("firstName").touched && orderForm.get("firstName").hasError("maxlength")){
    <div class="error">Max 100 chars.</div>
    }
  </div>

  <div class="label-group">
    <label for="lastName">Last Name<span class="required">*</span></label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName">

    @if(orderForm.get("lastName").touched && orderForm.get("lastName").hasError("required")){
    <div class="error">Last Name is required.</div>
    }
    @if(orderForm.get("lastName").touched && orderForm.get("lastName").hasError("minlength")){
    <div class="error">Min 3 chars</div>
    }
    @if(orderForm.get("lastName").touched && orderForm.get("lastName").hasError("maxlength")){
    <div class="error">Max 100 chars.</div>
    }
  </div>

  <div class="label-group">
    <label for="address">Street address<span class="required">*</span></label>
    <input type="text" id="address" name="address" formControlName="address">

    @if(orderForm.get("address").touched && orderForm.get("address").hasError("required")){
    <div class="error">Address is required.</div>
    }
    @if(orderForm.get("address").touched && orderForm.get("address").hasError("minlength")){
    <div class="error">Min 5 chars</div>
    }
    @if(orderForm.get("address").touched && orderForm.get("address").hasError("maxlength")){
    <div class="error">Max 100 chars.</div>
    }
  </div>

  <div class="label-group">
    <label for="city">City<span class="required">*</span></label>
    <input type="text" id="city" name="city" formControlName="city">

    @if(orderForm.get("city").touched && orderForm.get("city").hasError("required")){
    <div class="error">City is required.</div>
    }
    @if(orderForm.get("city").touched && orderForm.get("city").hasError("minlength")){
    <div class="error">Min 3 chars</div>
    }
    @if(orderForm.get("city").touched && orderForm.get("city").hasError("maxlength")){
    <div class="error">Max 100 chars.</div>
    }
  </div>

  <div class="label-group">
    <label for="state">State<span class="required">*</span></label>
    <input type="text" id="state" name="state" formControlName="state">

    @if(orderForm.get("state").touched && orderForm.get("state").hasError("required")){
    <div class="error">State is required.</div>
    }
    @if(orderForm.get("state").touched && orderForm.get("state").hasError("minlength")){
    <div class="error">Min 3 chars</div>
    }
    @if(orderForm.get("state").touched && orderForm.get("state").hasError("maxlength")){
    <div class="error">Max 100 chars.</div>
    }
  </div>

  <div class="label-group">
    <label for="zipCode">ZipCode<span class="required">*</span></label>
    <input type="text" id="zipCode" name="zipCode" formControlName="zipCode">

    @if(orderForm.get("zipCode").touched && orderForm.get("zipCode").hasError("required")){
    <div class="error">Zip code is required.</div>
    }
    @if(orderForm.get("zipCode").touched && orderForm.get("zipCode").hasError("pattern")){
    <div class="error">Please enter a valid zip code.</div>
    }
  </div>

  <div class="label-group">
    <label for="country">Country<span class="required">*</span></label>
    <input type="text" id="country" name="country" formControlName="country">

    @if(orderForm.get("country").touched && orderForm.get("country").hasError("required")){
    <div class="error">Country is required.</div>
    }
    @if(orderForm.get("country").touched && orderForm.get("country").hasError("minlength")){
    <div class="error">Min 2 chars</div>
    }
    @if(orderForm.get("country").touched && orderForm.get("country").hasError("maxlength")){
    <div class="error">Max 100 chars.</div>
    }
  </div>

  <div class="label-group">
    <label for="email">Email<span class="required">*</span></label>
    <input type="email" id="email" name="email" formControlName="email">

    @if(orderForm.get("email").touched && orderForm.get("email").hasError("required")){
    <div class="error">Email is required.</div>
    }
    @if(orderForm.get("email").touched && orderForm.get("email").hasError("email")){
    <div class="error">Please enter a valid email.</div>
    }
  </div>

  <div class="label-group">
    <label for="phoneNumber">Phone<span class="required">*</span></label>
    <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber">

    @if(orderForm.get("phoneNumber").touched && orderForm.get("phoneNumber").hasError("required")){
    <div class="error">Phone Number is required.</div>
    }
    @if(orderForm.get("phoneNumber").touched && orderForm.get("phoneNumber").hasError("pattern")){
    <div class="error">Unrecognized format.</div>
    }
  </div>

  <button type="submit" [disabled]="shopService.shoppingCart().size <= 0"> Submit Order </button>
</form>
