<h3>New Publication Item</h3>

<form [formGroup]="publicationItemForm" (ngSubmit)="addPublicationItem()">
  <label for="publication">Publication
    <select id="publication" name="publication" formControlName="publication">
      @for (pub of publications; track pub.publicationId) {
        <option value="{{pub.publicationId}}">{{ pub.title }}</option>
      }
    </select>
  </label>

  <label for="publicationItemType">Publication Item Type
    <select id="publicationItemType" name="publicationItemType" formControlName="publicationItemType">
      <option value="{{PublicationItemType.BOOK}}">Book</option>
      <option value="{{PublicationItemType.JOURNAL}}">Journal</option>
      <option value="{{PublicationItemType.LITERARY_PIECE}}">Literary Piece</option>
    </select>
  </label>


  <!-- Publication Item Fields -->
  <label for="quantity">Quantity
    <input type="number" id="quantity" name="quantity" formControlName="quantity">
  </label>

  <label for="edition">Edition
    <input type="text" id="edition" name="edition" formControlName="edition">
  </label>

  <label for="format">Format
    <select id="format" name="format" formControlName="format">
      <option value="{{PublicationItemFormat.AUDIOBOOK}}">AudioBook</option>
      <option value="{{PublicationItemFormat.HARDCOPY}}">HardCopy</option>
      <option value="{{PublicationItemFormat.EBOOK}}">EBook</option>
    </select>
  </label>

  <label for="purchasePrice">Purchase Price
    <input type="number" id="purchasePrice" name="purchasePrice" formControlName="purchasePrice">
  </label>

  <label for="rentalRate">Rental Rate
    <input type="number" id="rentalRate" name="rentalRate" formControlName="rentalRate">
  </label>


  <!-- Journal Fields -->
  @if (publicationItemForm.get("publicationItemType").value === PublicationItemType.JOURNAL) {
    <label for="issueDate">Issue Date
      <input type="date" id="issueDate" name="issueDate" formControlName="issueDate">
    </label>

    <label for="issueNumber">Issue Number
      <input type="number" id="issueNumber" name="issueNumber" formControlName="issueNumber">
    </label>

    <label for="issueName">Issue Name
      <input type="text" id="issueName" name="issueName" formControlName="issueName">
    </label>

    <label for="volume">Volume
      <input type="text" id="volume" name="volume" formControlName="volume">
    </label>
  }


  <!-- Literary Piece fields -->
  @if (publicationItemForm.get("publicationItemType").value === PublicationItemType.LITERARY_PIECE) {
    <label for="literaryType">Literary Type
      <select id="literaryType" name="literaryType" formControlName="literaryType">
        <option value="{{LiteraryType.ARTICLE}}">Article</option>
        <option value="{{LiteraryType.ESSAY}}">Essay</option>
        <option value="{{LiteraryType.POEM}}">Poem</option>
        <option value="{{LiteraryType.STORY}}">Story</option>
        <option value="{{LiteraryType.REVIEW}}">Review</option>
      </select>
    </label>
  }

  <button type="submit">Submit</button>

</form>
