<h3>New Publication Item</h3>

<form [formGroup]="publicationItemForm" (ngSubmit)="addPublicationItem()">
  <label for="publicationSelect">Publication
    <select id="publicationSelect" name="publicationSelect" formControlName="publication">
      @for (pub of publications; track pub.publicationId) {
        <option value="{{pub.publicationId}}">{{ pub.title }}</option>
      }
    </select>
  </label>

  <label for="pub-type">Publication Item Type
    <select id="pub-type" name="pub-type" formControlName="publicationItemType">
      <option value="{{PublicationItemType.BOOK}}">Book</option>
      <option value="{{PublicationItemType.JOURNAL}}">Journal</option>
      <option value="{{PublicationItemType.LITERARY_PIECE}}">Literary Piece</option>
    </select>
  </label>


  <!-- Publication Item Fields -->
  <label for="pub-item-edition">Quantity
    <input type="number" id="pub-item-quantity" name="pub-item-quantity" formControlName="quantity">
  </label>

  <label for="pub-item-edition">Edition
    <input type="text" id="pub-item-edition" name="pub-item-edition" formControlName="edition">
  </label>

  <label for="pub-item-format">Format
    <select type="text" id="pub-item-format" name="pub-item-format" formControlName="format">
      <option value="{{PublicationItemFormat.AUDIOBOOK}}">AudioBook</option>
      <option value="{{PublicationItemFormat.HARDCOPY}}">HardCopy</option>
      <option value="{{PublicationItemFormat.EBOOK}}">EBook</option>

    </select>
  </label>

  <label for="pub-item-purchase-price">Purchase Price
    <input type="number" id="pub-item-purchase-price" name="pub-item-purchase-price"
           formControlName="purchasePrice">
  </label>

  <label for="pub-item-rental-rate">Rental Rate
    <input type="number" id="pub-item-rental-rate" name="pub-item-rental-rate" formControlName="rentalRate">
  </label>


  <!-- Journal Fields -->
  @if (publicationItemForm.get("publicationItemType").value === PublicationItemType.JOURNAL) {
    <label for="pub-item-issue-date">Issue Date
      <input type="date" id="pub-item-issue-date" name="pub-item-issue-date" formControlName="issueDate">
    </label>

    <label for="pub-item-issue-number">Issue Number
      <input type="number" id="pub-item-issue-number" name="pub-item-issue-number" formControlName="issueNumber">
    </label>

    <label for="pub-item-issue-name">Issue Name
      <input type="text" id="pub-item-issue-name" name="pub-item-issue-name" formControlName="issueName">
    </label>

    <label for="pub-item-volume">Volume
      <input type="text" id="pub-item-volume" name="pub-item-volume" formControlName="volume">
    </label>
  }


  <!-- Literary Piece fields -->
  @if (publicationItemForm.get("publicationItemType").value === PublicationItemType.LITERARY_PIECE) {
    <label for="pub-item-literary-type">Literary Type
      <input type="number" id="pub-item-literary-type" name="pub-item-literary-type" formControlName="literaryType">
    </label>
  }

  <button type="submit">Submit</button>

</form>
